<div class="modal fade" id="add-workflow-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/admin/workflows">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Create a new Workflow</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label class="control-label" for="name">Name</label>
              <input type="textbox" name="name" id="name" value="" class="form-control"  placeholder="Enter a workflow name" required />
            </div>
            <div class="form-group">
              <label class="control-label" for="turn_around_days">Turn around time</label>
              <input type="number" name="turn_around_days" id="turn_around_days" class="form-control" min="0" step="1"/>
            </div>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary" for="hasComment">
                <input type="checkbox" autocomplete="off" name="hasComment" id="hasComment"> Has comment
                <span class="glyphicon glyphicon-unchecked"></span><span class="glyphicon glyphicon-check"></span>
              </label>
              <label class="btn btn-primary" for="reportable">
                <input type="checkbox" autocomplete="off" name="reportable" id="reportable"> Reportable
                <span class="glyphicon glyphicon-unchecked"></span><span class="glyphicon glyphicon-check"></span>
              </label>
              <label class="btn btn-primary" style="color:black" for="team">
                <%= select_tag "team", options_from_collection_for_select(@presenter.teams, "id", "humanized_name") %>
              </label>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-default">Create</button>
        </div>
      </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
