<div class="asset-group-view row">
<h3>Samples  <small><strong>Edit</strong></small> </h3>
  <table class="table table-striped table-bordered filter-table">
  <thead>
  <tr><th>Type</th><th>Id</th><th>Study</th><th>Created at</th><% if (!presenter.is_search?) %><th>Completed?</th><% end %>
  </tr>
  </thead>
  <tbody>
  <%= erb(:"assets/_asset_group", :layout => false, :locals => {:presenter => presenter, :asset_group_name => "Sanger Sample ID", 
        :asset_fields => [:identifier_type, :identifier, :study, :created_at, :completed?] }) %>
  </tbody>
  </table>
</div>
