<%= erb(:"_templates", :layout => false) %>
<div class="batch-view hidden">
<h3>Batch  <small><strong>Edit</strong></small> </h3>
<%= erb(:"batches/_batch", :layout => false, :locals => {:presenter => presenter}) %>
</div>
