// customize bootstrap variables here:
@import "bootstrap";

/* Put custom stylesheet stuff here */
td.with-button {
	border: 0 !important;
	background-color: white !important;
	padding-left: 1em !important;
}

table.with-button-per-row {
	border-right: 0px !important;
	border-bottom: 0px !important;
}

.asset-group-view a:hover {
	cursor: pointer;
}

.asset-group-view a:hover {
	cursor: pointer;
}

#footer {
	width: 100%;
	height: 2em;
}

.form-control-feedback {
	right: -1em;
	top: 0;
}

a {	color: #999999; }
a:hover { color: #777777; }
#remove-batch-acceptance {
	.input-group-addon {width: 8em;}
	.input-group { margin-bottom: 1em; width: 100%; }
	span.form-control { background-color: white; width: 100%; }
}
