// customize bootstrap variables here:
@import "bootstrap";

/* Put custom stylesheet stuff here */

button.table_button {
  width: 9em;
}

.asset-group-view a:hover {
  cursor: pointer;
}

.asset-group-view a:hover {
  cursor: pointer;
}

#footer {
  width: 100%;
  height: 2em;
  text-align:center;
}

.form-control-feedback {
  right: -1em;
  top: 0;
}

a {	color: #999999; }
a:hover { color: #777777; }
#remove-batch-acceptance {
  .input-group-addon {width: 8em;}
  .input-group { margin-bottom: 1em; width: 100%; }
  span.form-control { background-color: white; width: 100%; }
}

.muted { color: #999999 }

.admin-view {
  .glyphicon-ok     { color: rgb(80, 200, 80); }
  .glyphicon-remove { color: rgb(200, 80, 80); }

  .panel-heading {
  .title { float: left;}
  }

.admin-task-actions {
float: right;
  a {
    cursor: pointer;
  }
  }
}

tr.selected-row {
  font-weight: bold;
}

tr.starting-batch-mark {
  border: solid;
  border-top-width: 3px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: lightgray;
}

td.batch-box {
  background-color: white !important;
}

// Ensures that we can toggle checkbox glyphs on toggleable buttons
.btn-primary.active .glyphicon-unchecked { display:none;}
.btn-primary .glyphicon-check { display:none;}
.btn-primary.active .glyphicon-check { display:inline;}
