  <div id="creation-templates" class="tab-content">

    <!--  EMPTY -->
    <div id="empty-template" class="tab-pane fade active"></div>

    <% @presenter.with_each_asset_type do |asset_type_presenter| %>
        <%= render partial: "creation_templates/generic_template", layout: false, locals: {presenter:asset_type_presenter} %>
    <% end %>

  </div>
